In [3]:
# The code was removed by Watson Studio for sharing.

,Primary_Major,Employer_Name,City,State
0,Accounting,Crowe,Champaign,Illinois
1,Accounting,Deloitte Tax,CHICAGO,Illinois
2,Accounting,PricewaterhouseCoopers,LOS ANGELES,California
3,Accounting,Veolia North America,BOSTON,Massachusetts
4,Accounting,Yummy Future,CHAMPAIGN,Illinois
5,Actuarial Science,Aon Consulting (NJ),LOLNSHIRE,Illinois
6,Actuarial Science,Aon RE,ATLANTA,Georgia
7,Actuarial Science,Reinsurance Group of America,CHESTERFIELD,Missouri
8,Actuarial Science,SCOR Global Life; Insight Global(endorsed empl...,Leawood,Kansas
9,Advertising,Alhambra,Los Angelos,California